.admin-dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
}

.admin-main {
  flex-grow: 1;
  padding: 2rem;
}

.dashboard-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.admin-info {
  margin-bottom: 2rem;
}

.section-heading {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
  color: #444;
}

.stats-cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.stat-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  flex: 1;
  min-width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  text-align: center;
}



.stat-card-total{
  background-color: blue;
  border-radius: 12px;
  padding: 1.5rem;
  flex: 1;
  min-width: 200px;
  box-shadow:0 4px 10px rgb(109, 6, 6);
}

.stat-card-active{
  background-color: green;
  border-radius: 12px;
  padding: 1.5rem;
  min-width: 200px;
  box-shadow:0 4px 10px rgb(109, 6, 6); ;
  flex: 1;
}

.stat-card-inactive{
  background-color: red;
  flex: 1;
  border-radius: 12px;
  padding: 1.5rem;
  min-width: 200px;
  box-shadow:0 4px 10px rgb(109, 6, 6); ;
}


.stat-value {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.stat-value.active {
  color: #28a745;
}

.stat-value.inactive {
  color: #dc3545;
}

.error-box {
  color: red;
  background-color: #fff0f0;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.logout-btn {
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #e60000;
}
