
.employee-sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #343a40;
  color: white;
  padding: 1rem;
  transition: transform 0.3s ease;
  z-index: 1000;
  transform: translateX(-100%);
}

.employee-sidebar.open {
  transform: translateX(0);
}

.employee-sidebar.closed {
  transform: translateX(-100%);
}

.employee-sidebar h3 {
  color: white;
  margin-bottom: 1rem;
}

.employee-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.employee-sidebar ul li {
  margin: 1rem 0;
}

.employee-sidebar ul li button {
  margin: 1rem 0;
}

.employee-sidebar ul li a {
  color: white;
  text-decoration: none;
}

.employee-sidebar ul li a:hover {
  text-decoration: underline;
}


.back-button {
  width: 200px;
  height: 40px;
  color: white;
  background-color: #6c757d;
  border: none;
  cursor: pointer;
}

.sidebar-toggle {
  position: absolute;
  top: 200px;          
  left: 1px;
  z-index: 1001;
  padding: 0.4rem 0.6rem;
  background-color: #dde2e7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: left 0.3s ease;
}

.sidebar-toggle.open {
  left: 210px; /* Push the button when sidebar is open */
}

/* Responsive styles */
@media (max-width: 768px) {
  .employee-sidebar {
    width: 180px;
  }

  .sidebar-toggle {
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
  }
}
